table {
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	border-color: #BFBFBF;
	font-weight: bold;
	font-family: Arial;
	font-size: 13px;
}
thead{
	background-color: #041A7F;
	color: white;
	text-align: left;
	padding-left: 3px;
}
td {
	border-width: 1px;
	border-style: solid;
	border-color: #BFBFBF;
	padding-bottom: 0;
	padding-left: 3px;
	padding-right: 3px;
}

h1, h2 {
	font-family: "Times New Roman", sans-serif;
}

th {
	border-width: 1px;
	border-style: solid;
	border-color: #BFBFBF;
	padding-right: 15px;
	padding-left: 3px;
	background-repeat: no-repeat;
	background-position: right;
	background-image: url(image/ascend.png);
}
.change_background_image_as {
	background-color: #A4B0FC;
	background-image: url(image/ascend.png);
}
.change_background_image_des {
	background-color: #A4B0FC;
	background-image: url(image/descend.png);
}
